@font-face {
  font-family: "OSD";
  src:url("/Fonts/osd_mono.ttf");
}
@font-face {
  font-family: "Dventure";
  src:url("/Fonts/3Dventure.ttf");
}
@font-face {
  font-family: "Wonder";
  src:url("/Fonts/8-bit_wonder.TTF");
}

body {
  font-family: 'Roboto', sans-serif;
  background: url("/Mario.png");
  background-color: #161617;
  background-repeat: no-repeat;
  background-size: cover;
  color: #dad8e3;
  border-width: 0px;
}

.container {
  border-style: solid;
  border-color: red;
  width: 100%;
}

.panel {
  border-radius: 5px;
}

.banner {
  border-style: solid;
  align-items: center;
  position: static;
  padding: 2px 4px;
}

.schedule_panel {
  margin-top: 5px;
  /*border-style: solid;*/
  display: inline-block;
  position: relative;
  width: 33%;
  height: 665px;
  padding: 2px 2px;
  float: right;
  background-color: rgba(0,0,0,0.7);
  overflow: hidden;
}

.schedule h3 {
  margin: 2px;
  padding: 2px;
  text-align: center;
  font-family: Wonder;
  font-size: 24px;
  color: #F46766;

}

.list {
  /*border-style: solid;*/
  padding: 5px 10px;
  font-family: OSD;
  font-size: 18px;
  color: #4DB0F2;
}

.main_body {
  margin-top: 5px;
  /*border-style: solid;*/
  /*display: inline-block;*/
  width: 65%;
  padding: 2px 2px;
  float: left;
  text-align: left;
  font-family: Wonder;
  font-size: 36px;
  color: #F46766;
}

.now h3 {
  text-align: center;
  margin: 2px;
  padding: 2px;
  font-family: Wonder;
  color: #F46766;
}

.main_body h3 {
  text-align: center;
  margin: 2px;
  padding: 2px;
  font-family: Wonder;
  color: #F46766;
}

.now {
  /*border-style: solid;*/
  padding: 2px 4px;
  margin: 2px 4px;
  height: 400px;
  background-color: rgba(0,0,0,0.7);
}

.now div {
  font-family: OSD;
  font-size: 28px;
  color: #4DB0F2;
  padding: 5px 10px;
}

/*.happening {
  display: none;
}
.featured {
  display: none;
}
.leaderBoard {
  display: ;
}
.announcement {
  display: none;
}*/

.twitch {
  display: inline-block;
  /*border-style: solid;*/
  padding: 2px 4px;
  margin: 2px 4px;
  width: 47%;
  height: 250px;
  float: left;
  background-color: rgba(0,0,0,0.7);
}

.fake_twitch {
  text-align: center;
  margin: 2px 4px;
  height:5em;
  /*background-color: gray;*/
  border-radius: 5px;
}

.video {
  /*min-height: 100%;
  min-width: 100%;*/
  height: 190px;
  border-radius: 5px;
}

.twitter {
  display: inline-block;
  /*border-style: solid;*/
  padding: 2px 4px;
  margin: 2px 4px;
  width: 47%;
  height: 250px;
  float: right;
  background-color: rgba(0,0,0,0.7);
}

.fake_twitter {
  margin: 2px 4px;
  height:5em;
  background-color: teal;
  border-radius: 5px;
}

/* Twitter Feed Styles*/

.tweet-img{
  height: 350px;
  width: 100%;
  border-top: dashed;
  border-bottom: dashed;
  background-color: #FFBAAA;
}


.avatar-img{
  width: 100%;
  max-height: 70px;
  padding:0px;
  border: solid;
}

.tlogo{
  max-height: 70px;
  float: right;
}

p.name{
font-family: 'Press Start 2P';
font-size: 19px;
margin: 0px;
margin-top: 10px;
padding-left: 20px;
transform : scale(0.9,1.5);
}

p.handle{
  font-family: OSD;
  padding-left: 40px;
  font-size: 21px;
  margin: 10px 0px 0px 0px;
  color: #FFBAAA;
  transform : scale(1,1.25);
}

.twext{
  margin: 10px 10px 10px 10px;
}

p.twext{
  font-family: OSD;
  font-size: 19px;
  color: #DBFCFF
}

.tweet-container {
  line-height: normal;
  max-width: 500px;
  max-height: 500px;
}

.tweet-container2 {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
}

.section{
width: 100%;
height: auto;
float: left;
border: 10px solid #CC4B09;
position: relative;
}
.section_content{
display: block;
padding: 0px;
overflow: hidden;
}
.corner{
width: 15px;
position: absolute;
z-index: 9;

}
.tl{
top: -10px;
left: -10px;
}
.tr{
top: -10px;
right: -10px;
}
.bl{
bottom: -10px;
left: -10px;
}
.br{
bottom: -10px;
right: -10px;
}
.corner .a{
width: 5px;
height: 10px;
float: left;
display: block;
background-color: #161617;
}
.corner .b{
width: 5px;
height: 5px;
float: left;
display: block;
background-color: #161617;
}
.corner .c{
width: 10px;
height: 10px;
float: left;
display: block;
background: #FF6600;
}
.tr .a, .tr .b,
.tr .c, .br .a,
.br .b, .br .c{
float: right;
}
.bl .a,
.br .a{
border-top: 5px solid #CC4B09;
}

.row.small{
  height: 15px
}

.white{
  background-color: white;
  border: solid;
}

.green{
  background-color: #127C22;
}


.blue{
  background-color: #5D94FB;
}
