@font-face {
  font-family: "OSD";
  src:url("../Fonts/osd_mono.ttf");
}
@font-face {
  font-family: "Dventure";
  src:url("../Fonts/3Dventure.ttf");
}
@font-face {
  font-family: "Wonder";
  src:url("../Fonts/8-bit_wonder.TTF");
}

body {
  font-family: 'Roboto', sans-serif;
  background: url("../Mario.png");
  background-color: #161617;
  background-repeat: no-repeat;
  background-size: cover;
  color: #dad8e3;
  border-width: 0px;
}

/*.container {
  border-style: solid;
  border-color: red;
  width: 100%;
  height: 100%;
}*/

.panel {
  /*border-style: solid;
  border-color: red;*/
  border-radius: 5px;
  position: fixed;
}

.banner {
  border-style: solid;
  align-items: center;
  position: static;
  padding: 2px 4px;
}

.schedule_panel {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 660px;
  height: 970px;
  padding: 2px 2px;
  background-color: rgba(0,0,0,0.7);
  overflow: hidden;
}

.schedule h3 {
  margin: 2px;
  padding: 2px;
  text-align: center;
  font-family: Wonder;
  font-size: 24px;
  color: #F46766;

}

.list {
  /*border-style: solid;*/
  padding: 5px 10px;
  font-family: OSD;
  font-size: 18px;
  color: #4DB0F2;
}

.now h3 {
  text-align: center;
  margin: 2px;
  padding: 2px;
  font-family: Wonder;
  color: #F46766;
}

.main_body h3 {
  text-align: center;
  margin: 2px;
  padding: 2px;
  font-family: Wonder;
  color: #F46766;
  /*border-style: solid;
  border-color: red;*/
}

.now {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 2px 4px;
  width: 1210px;
  height: 650px;
  background-color: rgba(0,0,0,0.7);
}

.now div {
  font-family: OSD;
  font-size: 28px;
  color: #4DB0F2;
  padding: 5px 10px;
}

.lower_left {
  display: inline-block;
  position: fixed;
  left: 10px;
  top: 670px;
  padding: 2px 4px;
  width: 600px;
  height: 310px;
  float: left;
  background-color: rgba(0,0,0,0.7);
}

.fake_twitch {
  text-align: center;
  margin: 2px 4px;
  height:5em;
  /*background-color: gray;*/
  border-radius: 5px;
}

.video {
  /*min-height: 100%;
  min-width: 100%;*/
  height: 190px;
  border-radius: 5px;
}

.lower_right {
  display: inline-block;
  position: fixed;
  top: 670px;
  left: 620px;
  padding: 2px 4px;
  width: 600px;
  height: 310px;
  float: right;
  background-color: rgba(0,0,0,0.7);
}

.fake_twitter {
  margin: 2px 4px;
  height:5em;
  background-color: teal;
  border-radius: 5px;
}

.close_button {
  position: fixed;
  bottom: 0;
  right: 0;
}
.event * {
  font-size: 20px !important;
  line-height:100% !important;
}
.event h2 {
  font-size:24px;
  color: #f46766;
}
.smallEvent h2 {
  font-size:20px;
  margin-bottom:5px;
  margin-top:2px;
  line-height: :100%;
  color: #f46766;
}
